<table class="row footer">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td class="text-pad">

                    <p>If you no longer wish to receive these communications, please <a href="#">unsubscribe</a> here.</p>
                    *|IF:REWARDS|* *|HTML:REWARDS|* *|END:IF|*
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>