---
layout: default.hbs
id: example
subject: This is an example email!
---
<table class="container">
  <tr>
    <td>
      <!-- content start -->
      <table class="row">
        <tr>
          <td class="wrapper last">

            <table class="twelve columns">
              <tr>
                <td class="center" align="center">
                  <center>
                    Let's make an email!
                  </center>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
      <!-- container end below -->
    </td>
  </tr>
</table>
{{> footer}}